body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('./res/background.jpg');
    background-size: cover;
}

.content {
    display: flex;
    padding: 10px 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.directoryRow {
    display: flex;
    align-items: center;
    height: 26px;
}

.fileRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.progress-container {
    width: 8em;
    height: 4px;
    background-color: gray;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-top: 4px;
    align-self: start;
    margin-right: auto;
}

.progress-bar {
    height: 100%;
}

.directoryTitle {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.directoryRow:hover {
    cursor: pointer;
    color: palegreen;
}

.childList {
    margin-left: 3em;
}

.playingFile {
    color: red;
}

.fileTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watchedFile {
    color: grey;
}

.normalFile:hover {
    cursor: pointer;
    color: palegreen;
}

.watchedFile:hover {
    cursor: pointer;
    color: palegreen;
}

.directoryExplorer {
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 1em;
    min-width: 200px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.60);
    word-wrap: break-word;
}

.player {
    width: 860px;
    height: 480px;
    background-color: black;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 10px;
}

.resumeLabel {
    width: 100%;
    flex-basis: 100;
    text-align: center;
    margin-bottom: 10px;
}

.resumeDialog {
    background: rgba(0, 0, 0, 0.60);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}