body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('./res/background.jpg');
    background-size: cover;
}

.content {
    display: flex;
    margin: 5%;
}

ul {
    padding: 0
}

li {
    list-style-type: none;
}

.directoryName:hover {
    cursor: pointer;
    color: palegreen;
}

.childList {
    margin-left: 15px;
}

.fileName {
    font-size: 14px;
}

.playableFile:hover {
    cursor: pointer;
    color: palegreen;
}

.unknownFile {
    color: grey;
    cursor: default;
}

.directoryExplorer {
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 480px;
    min-width: 200px;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.60)
}

.player {
    width: 860px;
    height: 480px;
    background-color: black;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}